.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: var(--bg-color);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cname{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    position: relative;
    font-weight: 500;
    margin-left: 40px;
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: .5s ease;
}

.navbar a:hover::before{
    width: 100%;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}